*{
  margin: 0;
  border: 0;
  padding: 0;
  background-color: black;
  color: white;
}
#{
  overflow: hidden;
}
#bg{
  position: absolute;
  display: flex;
  background: url("../img/bglogin.jpg") center no-repeat fixed;
  filter: blur(4px);
  height: 100vh;
  width: 100vw;
}
#card{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 30vw;
  height: 50vh;
  background: #000000;
  opacity: 0.85;
  border-radius: 5px;
}
#form{
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.formElements{
  padding: 5px;
  margin: 5px;
}
